{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'modules'}
{/block}

{block name="main-content"}

    {*form name="stock_on_order_config.update"*}
        <div id="wrapper" class="container">

            {*if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if*}

            <!-- Order status list -->
            <div class="general-block-decorator">

                <div class="table-responsive">

                    {form name='stock_on_order_config'}
                    <form action="{url path='/admin/module/StockOnOrder/edit'}" {form_enctype form=$form} method="post">

                        {form_hidden_fields form=$form}


                        <table class="table table-striped table-condensed" id="stock_on_order_config-table">
                            <caption class="clearfix">
                                {intl l="Configure status action for module : " d='stockonorder'}
                                {loop type='module' name='current-modules' module_type='3' id=$moduleId}
                                    {$CODE}
                                {/loop}

                                {form_field form=$form field="module_id"}
                                    <input type="hidden" name="{$name}" value="{$moduleId}">
                                {/form_field}

                                <span class="pull-right">
                                    <button type="submit" class="form-submit-button btn btn-sm btn-default btn-success" title="{intl l='Save'}">{intl l='Save'} <span class="glyphicon glyphicon-ok"></span></button>
                                    <button type="submit" name="save_mode" value="close" class="form-submit-button btn btn-sm btn-default btn-info" title="{intl l='Save and close'}">{intl l='Save and close'} <span class="glyphicon glyphicon-remove"></span></button>
                                    <a href="{url path='/admin/module/StockOnOrder'}" class="page-close-button btn btn-sm btn-default">{intl l='Close'} <span class="glyphicon glyphicon-remove"></span></a>
                                </span>
                            </caption>

                            <thead>
                                <tr>
                                    <th>
                                        {admin_sortable_header
                                        current_order=$order
                                        order='id'
                                        reverse_order='id-reverse'
                                        path={url path='/admin/module/StockOnOrder/stock_on_order_config_edit' target='stock_on_order_config_edit-table'}
                                        label="{intl l='ID' d='stockonorder'}"
                                        }
                                    </th>
                                    <th>
                                        {admin_sortable_header
                                        current_order=$order
                                        order='module_id'
                                        reverse_order='module_id-reverse'
                                        path={url path='/admin/module/StockOnOrder/stock_on_order_config_edit' target='stock_on_order_config_edit-table'}
                                        label="{intl l='Status' d='stockonorder'}"
                                        }
                                    </th>
                                    <th>
                                        {intl l='Do nothing' d='stockonorder'}
                                    </th>
                                    <th>
                                        {intl l='Decrease' d='stockonorder'}
                                    </th>
                                    <th>
                                        {intl l='Increase' d='stockonorder'}
                                    </th>
                                    <th>
                                        {intl l='Default' d='stockonorder'}
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {loop type='order-status' name='order-status'}
                                    {form_field form=$form field='behavior' value_key=$ID}
                                    <tr>
                                        <td>
                                            {$ID}
                                        </td>
                                        <td>
                                            {$TITLE}
                                        </td>
                                        <td>
                                            <input type="radio" name="{$name}" value="do_nothing" {if $value == 'do_nothing'}checked{/if}>
                                        </td>
                                        <td>
                                            <input type="radio" name="{$name}" value="decrease" {if $value == 'decrease'}checked{/if}>
                                        </td>
                                        <td>
                                            <input type="radio" name="{$name}" value="increase" {if $value == 'increase'}checked{/if}>
                                        </td>
                                        <td>
                                            <input type="radio" name="{$name}" value="default" {if $value == 'default'}checked{/if}>
                                        </td>
                                    </tr>
                                    {/form_field}
                                {/loop}
                            </tbody>
                        </table>
                    </form>
                    {/form}
                </div>

                <div class="clearfix">
                    <button class="btn btn-primary pull-right" id="set_all_default">Set all default</button>
                </div>
            </div>

{*
            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l="StockOnOrderConfig edit" d="stockonorder.bo.default"}
                </div>

                <div class="form-container">
                    <form method="POST" action="{$current_url}" {form_enctype form=$form} class="clearfix" >

                        {include "includes/inner-form-toolbar.html"
                        close_url = {url path="/admin/module/StockOnOrder/stock_on_order_config"}
                        }

                        {form_field form=$form field="id"}
                        {assign "stock_on_order_config_id" $value}
                            <input type="hidden" name="{$name}" value="{$value}"/>
                        {/form_field}
                        {form_field form=$form field="success_url"}
                            <input type="hidden" name="{$name}" value="{url path='/admin/module/StockOnOrder'}/stock_on_order_config"/>
                        {/form_field}
                        {form_hidden_fields form=$form}

                        {loop name="stock_on_order_config_update" type="stock-on-order-config" backend_context="yes" id=$stock_on_order_config_id lang=$edit_language_id}
                            <div class="row">
                                <div class="col-md-12">
                                    {form_field form=$form field="module_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="module_id"}{$message}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$MODULE_ID}" placeholder="{intl l='The StockOnOrderConfig module_id'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="status_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="status_id"}{$message}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$STATUS_ID}" placeholder="{intl l='The StockOnOrderConfig status_id'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="behavior"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="behavior"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$BEHAVIOR}" placeholder="{intl l='The StockOnOrderConfig behavior'}" />
                                        </div>
                                    {/form_field}

                                    {include "includes/inner-form-toolbar.html"
                                        hide_flags = true
                                        close_url = {url path="/admin/module/StockOnOrder/stock_on_order_config"}
                                    }

                                </div>
                            </div>
                        {/loop}

                    </form>
                </div>
            </div>
            *}
        </div>
    {*/form*}
{/block}

{block name="javascript-initialization"}
<script>
    $("#set_all_default").click(function() {
        $("input:radio[value='default']").prop('checked', true);
    });
</script>
{/block}