{block name="page-title"}{intl l='StockOnOrderConfig'}{/block}

{block name="main-content"}
    <div id="wrapper" class="container">

        {if $general_error}
            <div class="alert alert-danger">
                {$general_error}
            </div>
        {/if}

        <!-- Payment modules list -->
        <div class="general-block-decorator">
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="stock_on_order_config-table">
                    <caption class="clearfix">
                        {intl l="Select a payment module to configure" d='stockonorder'}
                    </caption>

                    <thead>
                    <tr>
                        <th>
                            {admin_sortable_header
                            current_order=$order
                            order='id'
                            reverse_order='id-reverse'
                            path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                            label="{intl l='ID' d='stockonorder'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                            current_order=$order
                            order='module_id'
                            reverse_order='module_id-reverse'
                            path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                            label="{intl l='Payment module' d='stockonorder'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                            current_order=$order
                            order='is_default'
                            reverse_order='is_default-reverse'
                            path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                            label="{intl l='Modified behavior' d='stockonorder'}"
                            }
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {loop type='module' name='payment-modules' module_type='3'}
                        <tr>
                            <td>
                                {$ID}
                            </td>
                            <td>
                                <a href="{url path='/admin/module/StockOnOrder/viewModule/%id' id=$ID}">{$CODE}</a>
                            </td>
                            <td>
                                nope
                                {* loop type='stock-on-order' name='modified-behavior' }
                                {/loop *}
                            </td>
                        </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- StockOnOrderConfig list -->
        <div class="general-block-decorator">
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="stock_on_order_config-table">
                    <caption class="clearfix">
                        {intl l="Stock on order config"}

                        {loop name="auth-create" type="auth" role="ADMIN" resource="admin.module" access="CREATE" module="StockOnOrder"}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='Create a new StockOnOrderConfig entry' d='stockonorder.bo.default'}" data-target="#stock_on_order_config-create" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        {/loop}
                    </caption>

                    <thead>
                    <tr>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='id'
                                reverse_order='id-reverse'
                                path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                                label="{intl l='Id' d='stockonorder.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='module_id'
                                reverse_order='module_id-reverse'
                                path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                                label="{intl l='ModuleId' d='stockonorder.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='status_id'
                                reverse_order='status_id-reverse'
                                path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                                label="{intl l='StatusId' d='stockonorder.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='behavior'
                                reverse_order='behavior-reverse'
                                path={url path='/admin/module/StockOnOrder/stock_on_order_config' target='stock_on_order_config-table'}
                                label="{intl l='Behavior' d='stockonorder.bo.default'}"
                            }
                        </th>
                        <th>
                            {intl l="Actions"}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {loop name="stock-on-order-config-list" type="stock-on-order-config" order=$order}
                        <tr>
                            <td>
                                <a href="{url path='/admin/module/StockOnOrder/stock_on_order_config/edit' stock_on_order_config_id=$ID}">{$ID}</a>
                            </td>
                            <td>
                                {$MODULE_ID}
                            </td>
                            <td>
                                {$STATUS_ID}
                            </td>
                            <td>
                                {$BEHAVIOR}
                            </td>
                            {* Actions *}
                            <td>
                                <div class="btn-group">
                                    {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="UPDATE" module="StockOnOrder"}
                                        <a class="btn btn-default btn-xs" title="{intl l='Edit this StockOnOrderConfig' d='stockonorder.bo.default'}"  href="{url path='/admin/module/StockOnOrder/stock_on_order_config/edit' stock_on_order_config_id=$ID}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    {/loop}
                                    {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.module" access="DELETE" module="StockOnOrder"}
                                        <a class="btn btn-default btn-xs stock_on_order_config-delete" title="{intl l='Delete this StockOnOrderConfig' d='stockonorder.bo.default'}" data-target="#stock_on_order_config-delete" data-toggle="modal" data-id="{$ID}">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    {/loop}
                                </div>
                            </td>
                        </tr>
                    {/loop}
                    {elseloop rel="stock-on-order-config-list"}
                        <tr>
                            <td colspan="1000">
                                <div class="alert alert-info">
                                    {intl l="There is no StockOnOrderConfig" d="stockonorder.bo.default"}
                                </div>
                            </td>
                        </tr>
                    {/elseloop}
                    </tbody>

                    {ifloop rel="stock-on-order-config-list"}
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                {include
                                file           = "includes/pagination.html"

                                loop_ref       = "stock-on-order-config-list"
                                max_page_count = 20
                                page_url       = "{url path="/admin/module/StockOnOrder/stock_on_order_config" order=$order target='stock_on_order_config-table'}"
                                }
                            </td>
                        </tr>
                    </tfoot>
                    {/ifloop}

                </table>
            </div>
        </div>
    </div>


    {* CREATE Modal *}

    {form name="stock_on_order_config.create"}
    {capture "stock_on_order_config_create"}
        {form_hidden_fields form=$form}


        {render_form_field form=$form field="success_url" value={url path='/admin/module/StockOnOrder/stock_on_order_config/edit?stock_on_order_config_id=_ID_'}}

        {form_field form=$form field="module_id"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="module_id"}{$message}{/form_error}

                <input type="integer" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$MODULE_ID}" placeholder="{intl l='The StockOnOrderConfig module_id'}" />
            </div>
        {/form_field}
        {form_field form=$form field="status_id"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="status_id"}{$message}{/form_error}

                <input type="integer" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$STATUS_ID}" placeholder="{intl l='The StockOnOrderConfig status_id'}" />
            </div>
        {/form_field}
        {form_field form=$form field="behavior"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="behavior"}{$message}{/form_error}

                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$BEHAVIOR}" placeholder="{intl l='The StockOnOrderConfig behavior'}" />
            </div>
        {/form_field}
    {/capture}

    {include file="includes/generic-create-dialog.html"


        dialog_id       = "stock_on_order_config-create"
        dialog_title    = {intl l="Create an entry of StockOnOrderConfig" d="stockonorder.bo.default"}
        dialog_body     = {$smarty.capture.stock_on_order_config_create nofilter}

        dialog_ok_label     = {intl l="Create"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action        = {$current_url}
        form_enctype       = {form_enctype form=$form}
    }
    {/form}


    {* DELETE modal *}

    {capture "stock_on_order_config_delete"}
        {intl l="Do you really want to delete this StockOnOrderConfig entry ?" d="stockonorder.bo.default"}
        <input type="hidden" name="stock_on_order_config_id" id="stock_on_order_config_delete_id" value="" />
    {/capture}

    {include file="includes/generic-confirm-dialog.html"

        dialog_id       = "stock_on_order_config-delete"
        dialog_title    = {intl l="Delete an entry of StockOnOrderConfig" d="stockonorder.bo.default"}
        dialog_message  = {$smarty.capture.stock_on_order_config_delete nofilter}

        dialog_ok_label     = {intl l="Delete"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action         = {token_url path='/admin/module/StockOnOrder/stock_on_order_config/delete'}
    }
{/block}

{block name="javascript-initialization"}
    <script>
        $(function() {
            $('a.stock_on_order_config-delete').click(function(ev) {
                $('#stock_on_order_config_delete_id').val($(this).data('id'));
            });
        });
    </script>
{/block}