<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="stock-on-order-config" class="StockOnOrder\Loop\StockOnOrderConfig"/>
        <loop name="stock-on-order" class="StockOnOrder\Loop\StockOnOrder"/>
    </loops>

    <forms>
        <form name="stock_on_order_config.create" class="StockOnOrder\Form\StockOnOrderConfigCreateForm"/>
        <form name="stock_on_order_config.update" class="StockOnOrder\Form\StockOnOrderConfigUpdateForm"/>
        <form name="stock_on_order.create" class="StockOnOrder\Form\StockOnOrderCreateForm"/>
        <form name="stock_on_order.update" class="StockOnOrder\Form\StockOnOrderUpdateForm"/>
    </forms>

    <hooks>
        <hook id="stockonorder.hook" class="StockOnOrder\Hook\StockOnOrderHook" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfig"/>
        </hook>
    </hooks>

    <services>
        <service id="action.stockonorder.stock_on_order_config_table" class="StockOnOrder\Action\StockOnOrderConfigAction">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="stockonorder.form.type.stock_on_order_config_id" class="StockOnOrder\Form\Type\StockOnOrderConfigIdType">
            <argument id="thelia.translator" type="service"/>
            <tag name="thelia.form.type"/>
        </service>
        <service id="action.stockonorder.stock_on_order_table" class="StockOnOrder\Action\StockOnOrderAction">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="stockonorder.form.type.stock_on_order_id" class="StockOnOrder\Form\Type\StockOnOrderIdType">
            <argument id="thelia.translator" type="service"/>
            <tag name="thelia.form.type"/>
        </service>
    </services>

</config>
