<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>StockOnOrder\StockOnOrder</fullnamespace>
    <descriptive locale="en_US">
        <title>Choose how product stock is managed for each order status</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Choisissez comment les stocks de produits sont gérés pour chaque statut de commande</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.1</version>
    <author>
        <name>Etienne Perriere</name>
        <email>eperriere@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>other</stability>
</module>
